
.ter{
    float: left;
    margin-left: 20px;
    padding-left:20px;
    padding-top: 30px;
    margin-right:0;
    height: 200px;
    width: 200px; }

header{

    padding-top:100px;
    margin-left:410px;
    height:10px;
    padding-left: 200px;

}

main{

    padding-top: 400px;
    
    margin-left:400px;
    margin-right:400px;
    margin-top: 100px;
    border: 7px solid rgb(3, 164, 167);
    background-color: #f1f1f1;
}
 .container{
   
    height: 50px;

    margin-left:400px;
    margin-right:400px;
    margin-top: 20px;
    border: 7px solid rgb(3, 164, 167);  
    background-color: #f1f1f1;
 }
 .btn {
    border: 0;
    background-color:  solid rgb(3, 164, 167);
    color: solid rgb(3, 164, 167);
      
    padding: 15px 20px;
    font-family: inherit;
    cursor: pointer;
    margin-left:700px;
    margin-top:20px;
    background-color: rgb(141,217,204);

  }
  body{
      background-color:rgb(211, 255, 248);
  }
  